/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: white; */
}

a{
  text-decoration: none;
}

li{
  float: left;
  list-style: none;

}

.center-cont{
  width: 90%;
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
}

.row{
  height: 100%;
  width: 100%;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}


/* header */
header{
  text-transform: uppercase;
  font-size: .625em;
}

header .col-header{
  float: left;
  min-width: 33%;
  text-align: left;
}

header .center-cont{

}

header a{
  text-decoration: none;
  color: black;
}

header li{
  margin-right: 4%;
}

/* main */


/* regole generali testi */
.section_0, .section_3, .section_4, footer{
  color: white;
}


/* testi specifiche */
footer a{
  display: block;
}



/* regole generali sezioni */
section{
  /* height: 300px; */
  /* background: lightgrey;
  border: 1px solid black; */
}



/* regole specifiche sezioni */


.section_3{
  height: 450px;
}

#section_5{
  min-height: 400px;
}

/* regole specifiche center-box piu piccoli */
header .center-cont,
.section_0 .center-cont,
#section_5 .center-cont,
footer .center-cont{
  text-align: center;
  width: 70%;
  max-width: 1000;
  margin: 0 auto;
}


/* regole per le colonne */
.col {
  /* height: 200px; */
  text-align: center;
  /* background: green; */
  width: 45%;
  float: left;
}

.layout-4colonne .col-a4{
  text-align: left;
  width: 25%;
  float: left;
}






/* regole specifiche colonne */
.row .col:first-child{
  margin-right: 10%;
}

.section_1 .col img{
  max-width: 200px; /* da lasciare */
  height: auto;
}

.section_4 .col{
  min-height: 450px;
}



/* immagini background */
.section_0{
  min-height: 70vh; /* Vedere se bisogna toglierla */
  background-image: url("header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.app-img{
  background-image: url("app-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.city-img{
  background-image: url("city.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#section_2{
  min-height: 60vh;
  background-image: url("HelbizBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.col-mezzo-centerb{
  float: right;
  text-align: center;
  max-width: 50%;
}

.section_3 .center-cont{
  background-image: url("monopattino.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;



}

#section_5{
  max-height: 400px;
  background-image: url("Social-Banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;

}

/* background, dimensione,posizione div */


#section_5 .text-area{
  background-color: white;
}

/* .text-center{
  position: absolute;
  top: 50%;
} */





/* footer */
footer{
  /* height: 400px; */
  background-color: black;
}

footer a{
  color: white;
}
