/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: grey;
}

/* header */
header{
  height: 100px;
  background: yellow;
}

/* regole generali sezioni */
section{
  height: 300px;
  background: lightgrey;
  border: 1px solid black;
}





/* footer */
footer{
  height: 400px;
  background-color: black;
}
