/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: arial;
  line-height: 1.05em;
  /* background: white; */
}

a{
  text-decoration: none;
}

li{
  float: left;
  list-style: none;

}

.center-cont{
  width: 90%;
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
}

.row{
  height: 100%;
  width: 100%;
  position: relative;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

#section_2{

}

/* .margin-center{
  margin: 0 auto;
} */


/* header */
header{
  text-transform: uppercase;
  font-size: .625em;
}

header .col-header{
  float: left;
  min-width: 33%;
  text-align: left;
}

header .row:last-child{
    text-align: right;
}

header a{
  text-decoration: none;
  color: black;
}

header li{
  margin-right: 4%;
}

/* main */





/* regole generali testi */
.section_0, .section_3, .section_4, footer{
  color: white;
}

.text-area h3{
  font-size: 2em;

}

.section_0 .text-area h1{
  font-size: 3em;
}


/* testi specifiche */
footer a{
  display: block;
}



/* regole generali sezioni */
section{
  /* height: 300px; */
  /* background: lightgrey;
  border: 1px solid black; */
}



/* regole specifiche sezioni */

.section_0{
  height: 80vh;
}

.section_3{
  height: 450px;
}

#section_5{
  height: 60vh;
}

/* regole specifiche center-box piu piccoli */
header .center-cont,
.section_0 .center-cont,
#section_2 .center-cont,
#section_5 .center-cont,
footer .center-cont{
  text-align: center;
  width: 70%;
  max-width: 1000;
  /* margin: 0 auto; */
}

/* regole specifiche row */
#section_2 .row-bottom{
  margin: 0 auto;
}


/* regole per le colonne */
.col {
  /* height: 200px; */
  text-align: center;
  padding: 4%;
  width: 45%;
  float: left;
}

.layout-4colonne .col-a4{
  text-align: left;
  width: 25%;
  float: left;
}

/* .col-img{
  float: left;
} */






/* regole specifiche colonne */
.row .col:first-child{
  margin-right: 10%;
}

.section_1 .col img{
  max-width: 200px; /* da lasciare */
  height: auto;
}

#section_2 .col-sx, .col-dx, .col-img{
  margin: 0 1%;
  width: 30%;
  float: left;
  text-align: left;
}

.section_4 .col{
  min-height: 450px;
}

/* #section_2 .col-img{
  margin-right: 10%;
} */



/* immagini background */
.section_0{
  min-height: 70vh; /* Vedere se bisogna toglierla */
  background-image: url("header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.app-img{
  background-image: url("app-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.city-img{
  background-image: url("city.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#section_2 .row-top{
  min-height: 60vh;
  background-image: url("HelbizBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.col-mezzo-centerb{
  float: right;
  text-align: center;
  max-width: 50%;
}

.section_3 .center-cont{
  background-image: url("monopattino.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;



}

#section_5{
  max-height: 400px;
  background-image: url("Social-Banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;

}

/* background, dimensione,posizione div ed immagini */
#iphone{
  width: 30%;
  max-width: 33%;
  min-width: 250px;
  min-height: 500px;
  position: relative;
  bottom: 200px;
}

/* #iphone{
  min-width: 100%;
  height: 100%;
} */

.section_0 .text-area{
  width: 80%;
  line-height: 1.065em;
  padding: 1%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section_5 .text-area{
  background-color: white;
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* .text-center{
  position: absolute;
  top: 50%;
} */





/* footer */
footer{
  /* height: 400px; */
  background-color: black;
}

footer a{
  color: white;
}
